<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="robot_description">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0023189 0.0073427 0.1843" rpy="0 0 0" />
      <mass value="15.896" />
      <inertia ixx="0.65725" ixy="-3.6456E-08" ixz="0.040641" iyy="0.58335" iyz="-2.2784E-12" izz="0.1582" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.5 0.5 0.5 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link name="lidar_link">
    <inertial>
      <origin xyz="-9.1926E-05 -0.0067665 -0.0073819" rpy="0 0 0" />
      <mass value="1.3308" />
      <inertia ixx="0.0009607" ixy="8.0198E-07" ixz="-3.0916E-06" iyy="0.00061492" iyz="-0.00015824" izz="0.0010982" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/lidar_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.2 0.7 1 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="lidar_joint" type="fixed">
    <origin xyz="0 0.000420393431200835 0.32565" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="lidar_link" />
    <axis xyz="0 0 0" />
  </joint>
  <link name="left_wheel_link">
    <inertial>
      <origin xyz="8.211E-08 -0.017522 -4.1793E-07" rpy="0 0 0" />
      <mass value="0.583" />
      <inertia ixx="0.00092026" ixy="2.1255E-10" ixz="8.2654E-07" iyy="0.0017198" iyz="-1.099E-09" izz="0.00091447" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/left_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.7 0.1 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/left_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0 0.29485 -0.025" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="left_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="right_wheel_link">
    <inertial>
      <origin xyz="3.8174E-07 0.017522 1.8833E-07" rpy="0 0 0" />
      <mass value="0.583" />
      <inertia ixx="0.00091579" ixy="-1.3235E-09" ixz="-2.5693E-06" iyy="0.0017198" iyz="-7.3676E-10" izz="0.00091893" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/right_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.7 0.1 0.8 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/right_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0 -0.29485 -0.025" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="right_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="front_castor_body_link">
    <inertial>
      <origin xyz="0.0055133 0.00033058 -0.0066169" rpy="0 0 0" />
      <mass value="0.011291" />
      <inertia ixx="4.0603E-06" ixy="1.367E-08" ixz="8.6782E-07" iyy="3.8335E-06" iyz="5.2075E-08" izz="4.4634E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/front_castor_body_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/front_castor_body_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="front_castor_body_joint" type="continuous">
    <origin xyz="0.105 0 -0.0415" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="front_castor_body_link" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="front_castor_wheel_link">
    <inertial>
      <origin xyz="0.001327 -0.02196 3.518E-06" rpy="0 0 0" />
      <mass value="0.047259" />
      <inertia ixx="9.5221E-06" ixy="-2.7895E-07" ixz="2.5434E-09" iyy="1.4162E-05" iyz="1.5234E-10" izz="9.4977E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/front_castor_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/front_castor_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="front_castor_wheel_joint" type="continuous">
    <origin xyz="0.021643 0.023336 -0.033" rpy="0 0 0" />
    <parent link="front_castor_body_link" />
    <child link="front_castor_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="back_castor_body_link">
    <inertial>
      <origin xyz="-0.0055142 -0.00031498 -0.0066169" rpy="0 0 0" />
      <mass value="0.011291" />
      <inertia ixx="4.0603E-06" ixy="1.3028E-08" ixz="-8.6797E-07" iyy="3.8334E-06" iyz="-4.9618E-08" izz="4.4634E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/back_castor_body_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.4 0.4 0.4 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/back_castor_body_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="back_castor_body_joint" type="continuous">
    <origin xyz="-0.105 0 -0.0415" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="back_castor_body_link" />
    <axis xyz="0 0 1" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
  <link name="back_castor_wheel_link">
    <inertial>
      <origin xyz="0.001265 -0.021964 -2.6984E-06" rpy="0 0 0" />
      <mass value="0.047259" />
      <inertia ixx="9.5208E-06" ixy="-2.6579E-07" ixz="-1.9877E-09" iyy="1.4164E-05" iyz="-1.1341E-10" izz="9.4974E-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/back_castor_wheel_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.6 0.6 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/back_castor_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="back_castor_wheel_joint" type="continuous">
    <origin xyz="-0.024216 0.020654 -0.033" rpy="0 0 0" />
    <parent link="back_castor_body_link" />
    <child link="back_castor_wheel_link" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="0" effort="0" velocity="0" />
  </joint>
</robot>