install/
log/
build/

*/__pycache__/
*.pyc

.vscode/
*.db
*.db-shm
*.db-wal
classroom-bot-a7454-default-rtdb-export.json
classroom-bot-a7454-firebase-adminsdk-fbsvc-3144ceb737.json
frames_2026-05-03_19.32.36.pdf
.gitignore
src_new.zip
frames_2026-05-03_19.32.36.gv
src.zip
